<% layout('../layouts/layout') -%>

<h2>Security</h2>

        <div class="row">
          <div class="col-lg-12">
            <h1>Dashboard <small>Statistics Overview</small></h1>
            <ol class="breadcrumb">
              <li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
            </ol>
            <div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              Welcome to SB Admin by <a class="alert-link" href="http://startbootstrap.com">Start Bootstrap</a>! Feel free to use this template for your admin needs! We are using a few different plugins to handle the dynamic tables and charts, so make sure you check out the necessary documentation links provided.
            </div>
            <div class="btn-group">
              <input type="checkbox" name="my-checkbox" checked>
              <p class="security-switch">Your security is on.</p>
              <div class="security-mini-dashboard start-engine">
                <p>min Dashnoard </p>
              </div>
			      </div><!-- btn-group -->
          </div>
        </div><!-- /.row -->
<script>
    $(document).ready(function() {
      $("[name='my-checkbox']").bootstrapSwitch();
      $('input[name="my-checkbox"]').on('switchChange.bootstrapSwitch', function(event, state) {
        console.log(this); // DOM element
        console.log(event); // jQuery event
        console.log(state); // true | false
        if (state) {
          $('.start-engine').fadeIn('slow');
          $('p.security-switch').html('Your security is on.');
        }else {
          $('.start-engine').fadeOut('slow');
          $('p.security-switch').html('Your security is off.');
        }
      });
      	<% if (active !== 'undefined') { %>
      	setSideNav('<%= active.side_nav %>');
      	<% } %>
    });
</script>
