<% layout('../layouts/layout') -%>

<h1>mmmmmap</h1>

        <div class="row">
          <div class="col-lg-12">
            <h1>local settings <small>Statistics Overview</small></h1>
            <ol class="breadcrumb">
              <li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
            </ol>
            <div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              Welcome to SB Admin by <a class="alert-link" href="http://startbootstrap.com">Start Bootstrap</a
            </div>
          </div>
        </div><!-- /.row -->